@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-green: #5C913B;
    --clr-pink: #FEF6F4;
    --clr-light-pink: #FCFCFC;
    --clr-yellow: #FFA200;
    --clr-red: #CF3031;
    --clr-white: #FEF6F4;
    --clr-dark-gray: #2E2E2E;
    --clr-grey: #616161;
    --transition: all .1s;
}

html {
    font-family: 'Sora', sans-serif;
}
body {
    max-width: 100vw;
    max-height: 100vh;
}

header {
    min-height: 197px;
    width: 100%;

    background: linear-gradient(0deg, rgba(46, 46, 46, 0.6), rgba(46, 46, 46, 0.6)), url("./assets/images/background.png") center/cover no-repeat;

    display: grid;
    place-content: center;
}

header h1 {
    color: var(--clr-white);
}

header h1 span:nth-child(1) {
    color: var(--clr-yellow);
}

header h1 span:nth-child(2) {
    color: var(--clr-red);
}

header h1 span:nth-child(3) {
    color: var(--clr-green);
}

main {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    width: 100%;
    padding: 40px 0;
    row-gap: 70px;
}

main h3 {
    text-align: center;
    font-size: 22px;
}
button {
    cursor: pointer;
}


.picture {
    display: none;
}

.container-pizzas {
    display: grid;
    place-content: center;

    row-gap: 112px;
}
.card-pizza {
    position: relative;

    height: 275px;
    width: 312px;

    background: var(--clr-pink);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-pizza > .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.description > .content p {
    margin-top: 8px;
    width: 180px;
}

.card-pizza img, 
svg {
    position: absolute;
}
.fish-image {
    display: none;
}

.card-pizza img {
    top: -60px;
}

svg {
    right: 30px;
    top: -15px;
}
p, h4 {
    text-align: center;
}

.card-pizza h4 {
    font-size: 18px;
    color: var(--clr-dark-gray);
}

.card-pizza .content p {
    font-size: 14px;
    color: var(--clr-grey);
}

.card-pizza .price {
    font-size: 32px;
    color: var(--clr-dark-gray);
}

.card-pizza button {
    position: absolute;

    bottom: -10px;
    background: var(--clr-yellow);
    border-radius: 25px;
    padding: 8px 20px;
    border: transparent;

    color: #2E2E2E;

    font-weight: 600;
}
.about {
    padding: 32px 24px;
    width: 100%;
    background: var(--clr-light-pink);
}

.about > .content {
    
    max-height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.about > .content p {
    text-align: center;
}
.content #title {
    font-size: 22px;
}

#text {
    font-size: 14px;

    line-height: 26px;
}

.about > .content button {
    background: var(--clr-yellow);
    border-radius: 25px;
    padding: 8px 20px;
    border: transparent;

    color: var(--clr-dark-gray);

    font-weight: 600;
}

.restaurant-image {
    display: none;
}

footer {
    min-height: 63px;
    width: 100%;
}

#title span:nth-child(1) {
    color: var(--clr-yellow);
}

#title span:nth-child(2) {
    color: var(--clr-red);
}

#title span:nth-child(3) {
    color: var(--clr-green);
}


@media (min-width: 768px) {
    header {
        height: 300px;
    }

    header h1 {
        font-size: 80px;
    }
    
    .container-pizzas {
        grid: repeat(auto-fit, minmax(250px, 275px)) / repeat(auto-fit, minmax(250px, 256px));
        gap: 75px;
        place-content: center;
        width: 100%;
    }

    .card-pizza {
        width: 256px;
        height: 275px;
    }

    .card-pizza button {
        width: 157px;
    }
}


@media (min-width: 1024px) {

    main {
        position: relative;
    }

    .wrapper-container {
        position: relative;
    }

    .container-pizzas {
        padding: 0 40px;
    }

    main h3 {
        font-size: 30px;
    }

    .picture {
        display: block;
        position: absolute;
    }

    .plant-image {
        top: -50px;
        left: 0;
    }

    .fish-image {
        top: 0;
        left: 280px;
    }

    .leaf-image {
        right: 6px;
        bottom: 40px;
        z-index: -1;
    }

    .fuel-image {
        position: absolute;
        top: -60px;
        right: 60px;
    }

    .chili-image {
        bottom: -120px;
        z-index: 1;
    }

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .restaurant-figures {
        position: relative;
    }

    .restaurant-image {
        display: block;
        width: 400px;
        height: 500px;
    }

    .pizza-image {
        left: -80px;
        top: 10px;
    }

    .about > .content {
        max-width: 500px;
    }

    .about {
        gap: 30px;
    }

    .about > .content {
        align-items: flex-start;
    }

    .content #title,
    .content #text {
        text-align: start;
    }

    .image-pizza {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}