@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-green: #5C913B;
    --clr-pink: #FEF6F4;
    --clr-yellow: #FFA200;
    --clr-red: #CF3031;
    --clr-white: #FEF6F4;
    --clr-dark-gray: #2E2E2E;
    --clr-grey: #616161;
    --transition: all .1s;
}

html {
    font-family: 'Sora', sans-serif;
}
body {
    width: 100vw;
}

header {
    min-height: 197px;
    width: 100%;

    background: linear-gradient(0deg, rgba(46, 46, 46, 0.6), rgba(46, 46, 46, 0.6)), url("./assets/images/background.png") center/cover no-repeat;

    display: grid;
    place-content: center;
}

header h1 {
    color: var(--clr-white);
}

main {
    display: grid;
    place-content: center;

    padding: 40px 0;
    row-gap: 70px;
}

main h3 {
    text-align: center;
    font-size: 22px;
}

.container-pizzas {
    display: grid;
    place-content: center;

    row-gap: 112px;
}
.card-pizza {
    position: relative;

    height: 275px;
    width: 312px;

    background: var(--clr-pink);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-pizza > .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.description > .content p {
    margin-top: 8px;
    width: 180px;
}

.card-pizza > img {
    position: absolute;
    top: -50px;
}


p, h4 {
    text-align: center;
}

.card-pizza h4 {
    font-size: 18px;
    color: var(--clr-dark-gray);
}

.card-pizza .content p {
    font-size: 14px;
    color: var(--clr-grey);
}

.card-pizza .price {
    font-size: 32px;
    color: var(--clr-dark-gray);
}

.card-pizza button {
    position: absolute;

    bottom: -10px;
    background: var(--clr-yellow);
    border-radius: 25px;
    padding: 8px 20px;
    border: transparent;

    color: #2E2E2E;

    font-weight: 600;
}
.about > .content {
    width: 100%;
    max-height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;

    background: #FCFCFC;
}

.about > .content p {
    text-align: center;
}
.about > .content button {
    background: var(--clr-yellow);
    border-radius: 25px;
    padding: 8px 20px;
    border: transparent;

    color: #2E2E2E;

    font-weight: 600;

}

